{
  "openapi": "3.0.1",
  "info": {
    "title": "Cliente",
    "description": "API FedPat SandBox",
    "termsOfService": "https://www.fedpat.com.ar/terminos",
    "contact": {
      "name": "API Support",
      "url": "https://www.fedpat.com.ar/support",
      "email": "soporte@fedpat.com.ar"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.6.5"
  },
  "servers": [
    {
      "url": "https://api-sandbox.fedpat.com.ar/v1",
      "description": "API SandBox v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "JWT": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "paths": {
    "/clientes/cliente/{numDocumento}/activo": {
      "get": {
        "tags": [
          "Consulta clientes"
        ],
        "summary": "Mediante este servicio se consulta a partir de un DNI o CUIT de asegurado, si posee pólizas vigentes de Automotores/Motovehiculos en la Compañia.",
        "operationId": "esClienteActivo",
        "parameters": [
          {
            "name": "numDocumento",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operacion existosa",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "resultado": {
                        "type": "boolean"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Credenciales inválidas, el token ingresado no es correcto",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultado": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Acceso restringido, no se poseen los permisos para acceder al recurso",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultado": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "El recurso solicitado no fue encontrado",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultado": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Ocurrió un error inesperado al realizar la operación",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultado": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}