{
  "openapi": "3.0.1",
  "info": {
    "title": "Producto",
    "description": "API FedPat SandBox",
    "termsOfService": "https://www.fedpat.com.ar/terminos",
    "contact": {
      "name": "API Support",
      "url": "https://www.fedpat.com.ar/support",
      "email": "soporte@fedpat.com.ar"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.6.5"
  },
  "servers": [
    {
      "url": "https://api-sandbox.fedpat.com.ar/v1",
      "description": "API SandBox v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "JWT": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "paths": {
    "/productos/{codigo-ramo}/{codigo-producto}/bienes": {
      "get": {
        "tags": [
          "Producto"
        ],
        "summary": "Obtiene los bienes por ramo y producto",
        "operationId": "getBienes",
        "parameters": [
          {
            "name": "codigo-ramo",
            "in": "path",
            "description": "Número de ramo",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "codigo-producto",
            "in": "path",
            "description": "Codigo de producto",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operacion existosa",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "codigo_bien": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "descripcion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Datos de entrada inválidos",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Credenciales inválidas, el token ingresado no es correcto",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Acceso restringido, no se poseen los permisos para acceder al recurso",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflicto interno, no se pudo realizar la operación. ",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Ocurrió un error inesperado al realizar la operación",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/productos/{codigo-ramo}/{codigo-producto}/vigencias": {
      "get": {
        "tags": [
          "Producto"
        ],
        "summary": "Obtiene las vigencias de ramo y producto",
        "operationId": "getVigencias",
        "parameters": [
          {
            "name": "codigo-ramo",
            "in": "path",
            "description": "Número de ramo",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "codigo-producto",
            "in": "path",
            "description": "Codigo de producto",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operacion existosa",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "codigo_vigencia": {
                        "type": "string"
                      },
                      "descripcion": {
                        "type": "string"
                      },
                      "meses": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "valor_default": {
                        "type": "boolean"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Datos de entrada inválidos",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Credenciales inválidas, el token ingresado no es correcto",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Acceso restringido, no se poseen los permisos para acceder al recurso",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflicto interno, no se pudo realizar la operación. ",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Ocurrió un error inesperado al realizar la operación",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/productos/{codigo-ramo}/{codigo-producto}/coberturas": {
      "get": {
        "tags": [
          "Producto"
        ],
        "summary": "Retorna una lista de los bienes del ramo y producto solicitado con sus coberturas",
        "operationId": "getBienesCoberturas_1",
        "parameters": [
          {
            "name": "codigo-ramo",
            "in": "path",
            "description": "Número de ramo",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "codigo-producto",
            "in": "path",
            "description": "Codigo de producto",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operacion existosa",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "codigo_bien": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "descripcion": {
                        "type": "string"
                      },
                      "coberturas": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "codigo_ramo_contable": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "codigo_cobertura": {
                              "type": "string"
                            },
                            "descripcion": {
                              "type": "string"
                            },
                            "monto_minimo": {
                              "type": "number",
                              "format": "double"
                            },
                            "monto_maximo": {
                              "type": "number",
                              "format": "double"
                            },
                            "valor_por_defecto": {
                              "type": "number",
                              "format": "double"
                            },
                            "es_editable": {
                              "type": "boolean"
                            },
                            "requerido": {
                              "type": "boolean"
                            },
                            "requiere_cantidad": {
                              "type": "boolean"
                            },
                            "requiere_bienes": {
                              "type": "boolean"
                            },
                            "busca_suma": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "dependencias": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "codigo_bien": {
                                    "type": "integer",
                                    "format": "int32"
                                  },
                                  "codigo_ramo_contable": {
                                    "type": "integer",
                                    "format": "int32"
                                  },
                                  "codigo_cobertura": {
                                    "type": "string"
                                  },
                                  "porcentaje_minimo": {
                                    "type": "number",
                                    "format": "double"
                                  },
                                  "porcentaje_maximo": {
                                    "type": "number",
                                    "format": "double"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Datos de entrada inválidos",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Credenciales inválidas, el token ingresado no es correcto",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Acceso restringido, no se poseen los permisos para acceder al recurso",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflicto interno, no se pudo realizar la operación. ",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Ocurrió un error inesperado al realizar la operación",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/productos/{codigo-ramo}/{codigo-producto}/planes": {
      "get": {
        "tags": [
          "Producto"
        ],
        "summary": "Obtiene los planes de cobertura para ramo y producto",
        "operationId": "getPlanes",
        "parameters": [
          {
            "name": "codigo-ramo",
            "in": "path",
            "description": "Número de ramo",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "codigo-producto",
            "in": "path",
            "description": "Codigo de producto",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operacion existosa",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "codigo_plan": {
                        "type": "string"
                      },
                      "descripcion": {
                        "type": "string"
                      },
                      "detalle": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Datos de entrada inválidos",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Credenciales inválidas, el token ingresado no es correcto",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Acceso restringido, no se poseen los permisos para acceder al recurso",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflicto interno, no se pudo realizar la operación. ",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Ocurrió un error inesperado al realizar la operación",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/productos/habilitados/emitir": {
      "get": {
        "tags": [
          "Producto"
        ],
        "summary": "Obtiene los ramos y productos habilitados para emitir",
        "operationId": "getRamoProductoApiHabilitadosEmitir",
        "responses": {
          "200": {
            "description": "Operacion existosa",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "codigo_ramo": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "descripcion_ramo": {
                        "type": "string"
                      },
                      "productos": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "codigo_producto": {
                              "type": "string"
                            },
                            "descripcion_producto": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Datos de entrada inválidos",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Credenciales inválidas, el token ingresado no es correcto",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Acceso restringido, no se poseen los permisos para acceder al recurso",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflicto interno, no se pudo realizar la operación. ",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Ocurrió un error inesperado al realizar la operación",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/productos/habilitados/cotizar": {
      "get": {
        "tags": [
          "Producto"
        ],
        "summary": "Obtiene los ramos y productos habilitados para cotizar",
        "operationId": "getRamoProductoApiHabilitadosCotizar",
        "responses": {
          "200": {
            "description": "Operacion existosa",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "codigo_ramo": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "descripcion_ramo": {
                        "type": "string"
                      },
                      "productos": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "codigo_producto": {
                              "type": "string"
                            },
                            "descripcion_producto": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Datos de entrada inválidos",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Credenciales inválidas, el token ingresado no es correcto",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Acceso restringido, no se poseen los permisos para acceder al recurso",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflicto interno, no se pudo realizar la operación. ",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Ocurrió un error inesperado al realizar la operación",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/productos/opciones/{codigo-dato}": {
      "get": {
        "tags": [
          "Producto"
        ],
        "summary": "Obtiene opciones disponibles para un dato parametrico específico",
        "description": "Retorna la lista de opciones/valores disponibles para un dato, con soporte para dependencias",
        "operationId": "getOpciones_1",
        "parameters": [
          {
            "name": "codigo-dato",
            "in": "path",
            "description": "Codigo de dato principal",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "codigo-dato-dependencia1",
            "in": "query",
            "description": "Codigo de dato dependencia 1",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "valor-dependencia1",
            "in": "query",
            "description": "Codigo de dato valor dependencia 1",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codigo-dependencia2",
            "in": "query",
            "description": "Codigo de dato dependencia 2",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "valor-dependencia2",
            "in": "query",
            "description": "Codigo de dato dependencia 2",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operacion existosa",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "codigo_valor": {
                        "type": "string"
                      },
                      "descripcion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Datos de entrada inválidos",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Credenciales inválidas, el token ingresado no es correcto",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Acceso restringido, no se poseen los permisos para acceder al recurso",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflicto interno, no se pudo realizar la operación. ",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Ocurrió un error inesperado al realizar la operación",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/productos/{codigo-ramo}/{codigo-producto}/{codigo-bien}/datos-cotizacion": {
      "get": {
        "tags": [
          "Producto"
        ],
        "summary": "Obtiene los datos paramétricos para cotización",
        "description": "Retorna la lista de datos paramétricos disponibles para un ramo, producto y bien específicos en el contexto de cotización",
        "operationId": "getDatosParametricosCotizacion",
        "parameters": [
          {
            "name": "codigo-ramo",
            "in": "path",
            "description": "Número de ramo",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "codigo-producto",
            "in": "path",
            "description": "Codigo de producto",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codigo-bien",
            "in": "path",
            "description": "Codigo de bien",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operacion existosa",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "codigo_dato": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "descripcion": {
                        "type": "string"
                      },
                      "tipo": {
                        "type": "string"
                      },
                      "longitud": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "decimales": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "requerido": {
                        "type": "boolean"
                      },
                      "valor_default": {
                        "type": "string"
                      },
                      "codigo_tabla": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "dependencia": {
                        "type": "object",
                        "properties": {
                          "codigo_dato_1": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "codigo_dato_2": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "codigo_dato_3": {
                            "type": "integer",
                            "format": "int32"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Datos de entrada inválidos",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Credenciales inválidas, el token ingresado no es correcto",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Acceso restringido, no se poseen los permisos para acceder al recurso",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflicto interno, no se pudo realizar la operación. ",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Ocurrió un error inesperado al realizar la operación",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/productos/{codigo-ramo}/{codigo-producto}/{codigo-bien}/datos-emision": {
      "get": {
        "tags": [
          "Producto"
        ],
        "summary": "Obtiene los datos paramétricos para póliza",
        "description": "Retorna la lista de datos paramétricos disponibles para un ramo, producto y bien específicos en el contexto de pólizas",
        "operationId": "getDatosParametricosPoliza",
        "parameters": [
          {
            "name": "codigo-ramo",
            "in": "path",
            "description": "Número de ramo",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "codigo-producto",
            "in": "path",
            "description": "Codigo de producto",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codigo-bien",
            "in": "path",
            "description": "Codigo de bien",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operacion existosa",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "codigo_dato": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "descripcion": {
                        "type": "string"
                      },
                      "tipo": {
                        "type": "string"
                      },
                      "longitud": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "decimales": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "requerido": {
                        "type": "boolean"
                      },
                      "valor_default": {
                        "type": "string"
                      },
                      "codigo_tabla": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "dependencia": {
                        "type": "object",
                        "properties": {
                          "codigo_dato_1": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "codigo_dato_2": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "codigo_dato_3": {
                            "type": "integer",
                            "format": "int32"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Datos de entrada inválidos",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Credenciales inválidas, el token ingresado no es correcto",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Acceso restringido, no se poseen los permisos para acceder al recurso",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflicto interno, no se pudo realizar la operación. ",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Ocurrió un error inesperado al realizar la operación",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "codigo_error": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  }
}